<link rel="stylesheet" href="./css/common.css" />
<section class="artistinfo">
	<div class="mcq" ng-model = "questions">
	  <center><a href = "#details/{{prevItem}}" class = "button">PREV</a>
	  <a href = "#details/{{nextItem}}" class = "button">NEXT</a></center>
	  <div class = "qanda">
		<h3 class = "qnum">QUESTION {{parseInt(whichItem)+1}}</h3>
		<p class = "ques" math-jax-bind = "questions[whichItem].ques"></p>	  
		<ul ng-show = "tab!= 1 || selopt==null">
			  <li class= "optlist" ng-repeat="item in questions[whichItem].opts">
			  <label class="formgroup">
			  <input type="radio" name = "q" ng-model = "$parent.selopt" value = "{{item.pos}}"><span math-jax-bind = "item.val"></span>
			 </label>
			 </li>
			 <center><button class = "button" ng-click = "tab = 1" >Submit</button></center>

		</ul>
		<div ng-show = "selopt !=null">
			<p class = "ques" ng-show = "tab === 1">Your answer has been recorded! </p>
		</div>
			  <p class = "ques">You've chosen: {{selopt}}</p>
	  </div>
    </div>  
</section>