<link rel="stylesheet" href="./css/common.css" />
<section class="artistinfo">
	<div class="mcq" ng-model = "questions">
	  <center>
	  <a href = "#details/{{nextItem}}" class = "button">NEXT</a></center>
	  <h3 class = "qnum">{{counter|formatTimer}}</h3> 
	  <div class = "qanda">
		<h3 class = "qnum">QUESTION {{parseInt(whichItem)}}</h3>
		<p class = "ques" math-jax-bind = "questions[whichItem].text.t"></p>	  
		<ul ng-show = "tab!= 1 || selopt==null">
			  <li class= "optlist">
			  <label class="formgroup" style = "color:white; fill: white;">
			  <input type="radio" name = "q" ng-model = "$parent.selopt" value = "A"><span math-jax-bind = "questions[whichItem].text.opts.optA"></span>
			 </label>
			 <input type="radio" name = "q" ng-model = "$parent.selopt" value = "B"><span math-jax-bind = "questions[whichItem].text.opts.optB"></span>
			 </label>
			 <input type="radio" name = "q" ng-model = "$parent.selopt" value = "C"><span math-jax-bind = "questions[whichItem].text.opts.optC"></span>
			 </label>
			 <input type="radio" name = "q" ng-model = "$parent.selopt" value = "D"><span math-jax-bind = "questions[whichItem].text.opts.optD"></span>
			 </label>
			 </li>
			 <center><button class = "button" ng-click = "tab = 1" >Submit</button></center>
		</ul>
		<div ng-show = "selopt !=null">
			<p class = "ques" ng-show = "tab === 1">Your answer has been recorded! </p>
		</div>
			  <p class = "ques">You've chosen: {{selopt}}</p>
	  </div>
    </div>  
</section>